.navbar{
    height:10px;
    float:center;
    padding:30px 10px;
    font-size: 20px;
    background-color: rgb(132, 208, 255);
}

.topnav a{
    float:left;
    color:white;
    text-align:center;
    padding: 30px 30px;
    font-size: 30px;
}

#banner{
    height:120px;
}

body{
    background-color: mediumslateblue;
}