<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= title %> | Gabriel Kam's Website</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="stylesheetdesktop.css" media="only screen and (min-width:960px)">
        <link rel="stylesheet" type="text/css" href="stylesheettablet.css" media="only screen and (min-width:481px) and (max-width:960px)">
        <link rel="stylesheet" type="text/css" href="stylesheetmobile.css" media="only screen and (min-width:960px) and (max-width:480px)">
    </head>
    <body>
        <div id="wrapper">
            <div id="banner">
                <h1>About me</h1>
                <div class="navbar">
                    <a href="/">Home</a>
                    <a href="/about">About Me</a>
                    <a href="/projects">Projects</a>
                    <a href="/contact">Contact Me</a>
                </div>
            </div>
            <h1>video</h1>
            <h2>Hi, my name is Gabriel Kam</h2>
            <video width="720" height="828" controls preload poster="image.png">
                <source src="vshvc4crig4f1.mp4" type="video/mp4">
            </video>
        </div>
        <div class="clear"></div>
        <div id="footer">
            <h8>contact me: me@gabrielkam.com</h8>
        </div>
    </body>
    
</html>